/* All CSS relating to the nav-bar */

#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  width: 100%;
  padding: 0 2em;
  position: fixed;
  top: 0;
  display: block;
  margin: 0;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  display: inline-block;
  position: absolute;
  font-size: 2rem;
  line-height: 80px;
  padding-left: 10px;
  font-weight: bold;
  letter-spacing: 1px
}

#nav-bar .compose img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

#nav-bar .compose {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  width: 10%;
  height: 75%;
  float: right;
  margin: 10px 150px 10px 0;
  text-align: center;
  opacity: .60;
}

#nav-bar .compose p {
  display: inline-block;
  color: green;
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

#nav-bar .compose i {
  color: green;
}

#nav-bar .compose {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#nav-bar .compose:hover {
  opacity: 1;
  cursor: pointer;
}

#nav-bar .compose:hover p {
  color: black;
}

#nav-bar .compose:hover i {
  color: black;
}

