/* CSS for new tweet container & error box */
.new-tweet {
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 0 2em 1em 2em;
  background: #e8e8e8;
  margin: 2em 2em 0 2em;
  display: inline-block;
  width: 86%;
  display: none;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
}

.new-tweet textarea {
  display: block;
  width: 100%;
  padding: 2px;
  margin-bottom: 5px;
}

.counter {
  float: right;
}

.error {
  border:5px solid #ff9999;
  padding: 2em;
  border-radius: 10px;
  background: #ffcccc;
  margin-right: 2em;
  margin-left: 2em;
  display: none;
  font-weight: bold;
}